
/**
 * To theme your application, just override the variable values you want to change. To find which variables can be changed,
 * see the JET documentation at https://www.oracle.com/webfolder/technetwork/jet/jsdocs/CssVariablesOverview.html
 * In general, we recommend using the Stable theme, as it reduces the chances of being impacted by changes over time.
 */
:root {
    /* --oj-html-font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif; */
    /* --oj-html-font-size:   1em; */
 /*Form Layout  */
--oj-form-layout-margin-bottom: -0.5rem;
--oj-form-layout-column-gutter: 0.5rem;
--oj-label-required-char-font-size:  0.3rem; 
--oj-form-layout-start-edge-label-to-value-padding: 0.5rem;
--oj-form-layout-top-edge-label-to-value-padding: 0rem; 
--oj-collection-grid-cell-padding: 0rem;

/* Pagingcontrol menu */
--oj-typography-body-md-font-size: 0.8rem;

/* Table */   
--oj-collection-grid-row-height:2rem;
--oj-collection-grid-header-height:2.25rem;

/* Button */
--oj-button-height:2rem;
--oj-typography-body-sm-font-size:1.2rem

--oj-typography-body-md-line-height:0






 }

 

.oj-collection-grid-header{
  height: 0rem !important;
}


.oj-table-body-row {
    height: auto !important;
    min-height: 0rem !important;
    font-size: 12px;
    font-weight: medium;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   /* color:#5D5D5D ;  */
}

.oj-tabbar-horizontal:not(.oj-tabbar-icon-only) .oj-tabbar-item.oj-selected a.oj-tabbar-item-content .oj-tabbar-item-label {
    /* color: white; */
    color: #740b40;
    font-weight: bold;
}

.oj-tabbar-horizontal.oj-tabbar-icon-only .oj-tabbar-item.oj-selected, .oj-tabbar-horizontal:not(.oj-tabbar-icon-only) .oj-tabbar-item.oj-selected {
    border-color: #740b40;
}

.oj-tabbar-item {
    /* border-color: transparent; */
    display: flex;
    align-items: stretch;
}
.searchBtn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: green;
    color: white;
}

.resetBtn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}



.oj-tabbar-horizontal:not(.oj-tabbar-icon-only) .oj-tabbar-item.oj-selected a.oj-tabbar-item-content .oj-tabbar-item-label {
    /* color: white; */
    color: #013766;
    font-weight: bold;
}

.oj-tabbar-horizontal.oj-tabbar-icon-only .oj-tabbar-item.oj-selected, .oj-tabbar-horizontal:not(.oj-tabbar-icon-only) .oj-tabbar-item.oj-selected {
    border-color: #013766;
}

.oj-tabbar-item {
    /* border-color: transparent; */
    display: flex;
    align-items: stretch;
}

.oj-button-button{
    height: 2rem;
    color: white;
    /* border: none; */
    cursor: pointer;
}

.approveBtn{
background-color: lightgreen;

}
.redBtn{
background-color:red;
}
.blueBtn{
background-color:lightblue;
}
.pinkBtn{
  background-color:lightpink;
  color: transparent;
}

.oj-form-layout .oj-form.oj-enabled .oj-text-field.oj-read-only .oj-text-field-container {
    border-width: var(--oj-text-field-border-width);
    /* border-color: var(--oj-text-field-border-color-disabled); */
    background-color: transparent;
    height: var(--oj-text-field-height);
}


.oj-navigationlist-vertical:not(.oj-navigationlist-icon-only) .oj-navigationlist-item-label {
    vertical-align: middle;
    color: white;
}

/* ASIK */


/* Input Test border */

.oj-text-field.oj-disabled .oj-text-field-input {
    /* color: var(--oj-text-field-text-color-disabled); */
    /* color: red; */
    color: black;
    background-color: #dedcde;
}

.oj-text-field.oj-disabled .oj-text-field-container {
    /* background-color: var(--oj-text-field-bg-color-disabled); */
    border-color: var(--oj-text-field-border-color-disabled);
    /* background-color: #e3e3e3; */
    background-color: f6f6f6; 
    border: solid 1px #171616;
}

 .oj-text-field .oj-text-field-container{
    position: relative;
    box-sizing: border-box;
    border-style: solid;
    transition: border-color .1s linear;
    border-color: var(--oj-text-field-border-color);
    border-width: var(--oj-text-field-border-width);
    border-radius: var(--oj-text-field-border-radius);
    background-color: var(--oj-text-field-bg-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    height: var(--oj-text-field-height);
    border: solid 1px grey;
     font-size: 12px; /* Adjust the font size as needed */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
} 

.oj-required-inline-container {
    text-align: inherit;
}


.oj-form-layout .oj-form.oj-enabled .oj-text-field.oj-combobox-multi.oj-has-no-value:not(.oj-text-field-label-inside) .oj-text-field-container, .oj-form-layout .oj-form.oj-enabled .oj-text-field.oj-select-multi.oj-has-no-value:not(.oj-text-field-label-inside) .oj-text-field-container, .oj-form-layout .oj-form.oj-enabled .oj-text-field.oj-textarea.oj-has-no-value:not(.oj-text-field-label-inside) .oj-text-field-container, .oj-form-layout .oj-form.oj-enabled .oj-textarea.oj-read-only:not(.oj-text-field-label-inside) .oj-text-field-container {

    min-height: 5rem;

}

/* Date Big font reduce */
.oj-form-control-inherit:not(.oj-form-control-default) .oj-text-field:not(.oj-invalid):not(.oj-warning) .oj-text-field-container, .oj-form-control-inherit:not(.oj-form-control-default) .oj-text-field:not(.oj-invalid):not(.oj-warning) .oj-text-field-input, .oj-form-control-inherit:not(.oj-form-control-default) .oj-text-field:not(.oj-invalid):not(.oj-warning) .oj-text-field-readonly-div {
    border-width: 0;
    font-size: small;
}
 .oj-button-label, .oj-button-label oj-option {
    cursor: inherit !important;  
    display: inline-flex !important;
    align-items: center !important;
    justify-content: center !important;
    width: 100% !important;
    height: 100% !important;
    /* background-color: #740b40 !important; */
    /* color: black !important; */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
     font-size: 12px;

     /* color: #4F4F4F; */
     margin-right: 20px;
} 



.oj-required-inline-container {
    text-align: inherit;
}
/* Headers */
   .h1 {
    /* font-family: serif; Change the font family to "serif" */
   /* font-size: 10px; */
   /* text-align: left; */
   /* font-family:Arial; */
    position: relative;
    padding: 0;
    min-width: 50px;
    /* display: block; */
    /* font-weight: bolder; */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
     font-size: 16px;
  }
.oj-forme-control:not(.oj-read-only):not(.oj-disabled) .oj-user-assistance-inline-container.oj-efficient, .oj-form.oj-enabled .oj-user-assistance-inline-container.oj-efficient {
    min-height: 0.3rem;
    
}
.input{
  padding:8px 0px;
  margin:-8px 0px;
}

.oj-table-grid-display .oj-table-header {
    background-color: var(--oj-collection-header-bg-color);
    border-bottom: 1px solid var(--oj-collection-border-color);
    background-color: #02497c;
    color:white;
   font-size: 14px;
   /* font-weight: bold; */
 
}

.oj-table-column-header {
    font-size: initial;
    position: relative;
    float: none;
    text-overflow: inherit;
    overflow: inherit;
    white-space: normal;
    display: inline-flex;
    align-items: center;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    text-align: center;
 }
 .h1
 {
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-weight: semi bold;
   font-size: 16px;
 }

 .oj-sp-template-wrapper
 {
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-weight: semi bold;
   font-size: 16px;
   height: 10px;
 }
 .oj-label{

font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 12px;
    /* color: #4F4F4F; */
    font-weight: bold;
 }
 .oj-dialog-title
 {
   color:#013766;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 16px;
font-weight:bold;
 }
 .oj.badge-text
 {
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 12px;
font-weight:semi bold;
 } 


   oj-sp-header-general-overview .oj-sp-header-general-overview-header-strip {
    background-image: var(--oj-sp-theme-page-header-strip, url(''));
    
   }
oj-sp-header-create-edit .oj-sp-header-create-edit-header-strip{
    background-image: var(--oj-sp-theme-page-header-strip, url(''));
     }
     
.oj-forme-control:not(.oj-read-only):not(.oj-disabled) .oj-user-assistance-inline-container.oj-efficient,.oj .oj-form.oj-enabled .oj-user-assistance-inline-container.oj-efficient {
    min-height: 0.3rem;
    
}
oj-sp-header-general-overview .oj-sp-header-general-overview-page-title{
 
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    /* white-space: nowrap; */
    color: white;
    /* display: inline-block; */
    font-size: 14px;
}
oj-sp-header-create-edit .oj-sp-header-create-edit-spacing-container .oj-sp-header-create-edit-container .oj-sp-header-create-edit-avatar-container .oj-sp-header-create-edit-title .oj-sp-header-create-edit-title-badge-container .oj-sp-header-create-edit-page-title{
 font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    white-space: nowrap;
    color:white;
    display: inline-block;
    font-size: 16px;
} 
.oj-ux-ico-reset { 
    color:#ff3333; /* Icon color */
    cursor: pointer; /* Change cursor on hover */
}
.oj-ux-ico-invoice-create {
    /* Add your styles for the secondary action icons here */ 
     /* Spacing between icons */ 
    color:#006622; /* Icon color */
    cursor: pointer; /* Change cursor on hover */
}
.oj-dialog-content
{
   color:#013766;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 13px;
}
.oj-navigationlist-vertical:not(.oj-navigationlist-icon-only) .oj-navigationlist-item-label  {
    padding: 10px 15px; /* Adjust padding as needed */
    margin: 5px 0; /* Adjust margin as needed */
    background-color:1px solid #ccc; /* Background color */
    cursor: pointer; /* Change cursor to pointer on hover */
    color: #4E4E4E;
    margin-top: -14px;
}
.menuList{
  background-color: black;
  }
  .icons{
    color: white;
  }
oj-sp-header-general-overview .oj-sp-header-general-overview-padded-container{
  background-color:#013766;
  height: 7px;
    
}
oj-sp-canvas-page .oj-sp-header-create-edit-spacing-container{
  background-color:#013766;
    
}
/* Button */
oj-sp-canvas-page .oj-sp-header-create-edit-spacing-container .oj-button-label, .oj-button-label oj-option {
    cursor: inherit !important;  
    display: inline-flex !important;
    align-items: center !important;
    justify-content: center !important;
    width: 100% !important;
    height: 100% !important;
    background-color: #013766 !important;
    color: white !important;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
     font-size: 12px;
     /* color: #4F4F4F; */
} 
oj-sp-canvas-page .oj-sp-header-create-edit-spacing-container .oj-button-button{
    
    border: none;
    cursor: pointer;
     outline: none;
     height: 2rem;
}
oj-sp-header-general-overview .oj-sp-header-general-overview-padded-container .oj-button-label, .oj-button-label oj-option {
    cursor: inherit !important;  
    display: inline-flex !important;
    align-items: center !important;
    justify-content: center !important;
    width: 100% !important;
    height: 100% !important;
    background-color: #013766 !important;
    color: white !important;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
     font-size: 12px;
     /* color: #4F4F4F; */
} 
oj-sp-header-general-overview .oj-sp-header-general-overview-padded-container .oj-button-button{
    
    border: none;
    cursor: pointer;
     outline: none;
     height: 2rem;
}
oj-sp-header-general-overview .oj-sp-header-general-overview-padded-container .oj-button:hover{
border: 1px solid white;
    height: 2rem;
    cursor: pointer;
}

oj-sp-canvas-page .oj-sp-header-create-edit-spacing-container .oj-button:hover{
border: 1px solid white;
    height: 2rem;
    cursor: pointer;
}

.oj-ux-ico-content-item-search{
  color: white;
}

/* Pagingcontrol menu*/
.oj-pagingcontrol-nav-input-summary {
   font-size: var(--oj-typography-body-md-font-size);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


.headertitle {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color:white;
    font-size: 24px;
    background-color: #013766;
    height: 10px;
    /* margin-left: -8px;
    margin-right: -8px; */
   
}

.headertext {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color:white;
    font-size: 24px;
   margin-top: -9px;
   margin-left: -15px;

}


/* .oj-table-stretch .oj-table-scroller {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding-left: 5px;
    padding-right: 5px;
}


.oj-sp-public-primary-content-container{
 padding-left: 20px;
 padding-right: 20px;
 padding-bottom: 8px;
 width: 20%;
} */


/* oj-sp-advanced-create-edit */

/* oj-sp-header-general-overview .oj-sp-header-general-overview-padded-container{
  background-color:#013766;
  height: 7px;
    
} */

oj-sp-header-create-edit .oj-sp-header-create-edit-spacing-container {
 background-color:#013766;

}

oj-sp-header-create-edit .oj-sp-header-create-edit-spacing-container .oj-button-label, .oj-button-label oj-option {
    cursor: inherit !important;  
    display: inline-flex !important;
    align-items: center !important;
    justify-content: center !important;
    width: 100% !important;
    height: 100% !important;
    background-color: #013766 !important;
    color: white !important;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
     font-size: 12px;
     /* color: #4F4F4F; */
} 
oj-sp-header-create-edit .oj-sp-header-create-edit-spacing-container .oj-button-button{
    
    border: none;
    cursor: pointer;
     outline: none;
     height: 2rem;
}
oj-sp-header-create-edit .oj-sp-header-create-edit-spacing-container .oj-button:hover{
border: 1px solid white;
    height: 2rem;
    cursor: pointer;
}
oj-sp-header-create-edit .oj-sp-header-create-edit-spacing-container .oj-sp-header-create-edit-container {
margin-top: -12px;
margin-left: -15px;
}



.oj-dialog-title
 {
   color:white;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 16px;
font-weight:bold;
margin-left: -21px;
margin-top: -15px;
 }
 .oj-dialog .oj-fwk-icon:before{
color: white;
 }
 .oj-dialog-header{
   background-color: #013766;
   height: 2px;
 }

  .oj-dialog-body{
padding-top: 10px;
 }



 oj-sp-header-general-overview .oj-sp-header-general-overview-avatar-title-buttons-container-side-by-side{

  margin-top: -12px;
  margin-left: -15px;

}




.oj-form-layout .oj-form.oj-enabled .oj-text-field.oj-combobox-multi.oj-has-no-value:not(.oj-text-field-label-inside) .oj-text-field-container, .oj-form-layout .oj-form.oj-enabled .oj-text-field.oj-select-multi.oj-has-no-value:not(.oj-text-field-label-inside) .oj-text-field-container, .oj-form-layout .oj-form.oj-enabled .oj-text-field.oj-textarea.oj-has-no-value:not(.oj-text-field-label-inside) .oj-text-field-container, .oj-form-layout .oj-form.oj-enabled .oj-textarea.oj-read-only:not(.oj-text-field-label-inside) .oj-text-field-container {

    min-height: 5rem;
}

.oj-form-control-inherit:not(.oj-form-control-default) .oj-text-field:not(.oj-invalid):not(.oj-warning) .oj-text-field-container, .oj-form-control-inherit:not(.oj-form-control-default) .oj-text-field:not(.oj-invalid):not(.oj-warning) .oj-text-field-input, .oj-form-control-inherit:not(.oj-form-control-default) .oj-text-field:not(.oj-invalid):not(.oj-warning) .oj-text-field-readonly-div {
    border-width: 0;
    /* font-size: small; */

}

.popupheader{
    /* color: white; */
     background-color: #013766;
     height: 34px;
      /* padding-bottom: 8px; */
    /* padding-top: 3px;  */
      padding: 0;
    min-width: 50px;
    margin-top: -16px;
}

.oj-ux-ico-warehouse{
   color: white;

}


.linelevelbutton{
  margin-top: -15px;
}


.oj-navigationlist-vertical:not(.oj-navigationlist-icon-only) .oj-navigationlist-item:last-child {
    margin-bottom: -18px
px
;
}



.oj-navigationlist-vertical {
    --oj-navigation-list-item-padding: 1.5rem;
    --oj-navigation-list-item-bg-color-hover: var(--oj-core-bg-color-hover);
    --oj-navigation-list-item-bg-color-selected: var(--oj-core-bg-color-active);
    --oj-navigation-list-icon-margin: 0;
    --oj-navigation-list-icon-to-text-padding: 0.5rem;
    --oj-navigation-list-item-min-height: 3rem;
    --oj-navigation-list-item-margin: 0;
    margin-top: -12px;
}


.oj-collapsible-header-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    padding: var(--oj-core-spacing-1x) 0;
    margin: 0;
    margin-top: -6px;
}



.oj-navigationlist-element, .oj-navigationlist-group {
    list-style-type: none;
    padding-left: 0;
    padding-right: 0px;
    margin: 0;
    margin-bottom: -18px;
}


/* .bankacctname{
    margin-left:-5px;
    margin-top:3px;
} */

/* search back icon white */
.oj-button.oj-default.oj-button-half-chrome .oj-button-icon, .oj-button.oj-focus-only.oj-button-half-chrome .oj-button-icon {
    color: #fff;
}




.oj-dialog-headere {
    background-color: #f1f4f7;
    height: 0px;
}




.oj-lg-padding-8x-horizontal {
    padding-inline-start: var(--oj-core-spacing-1x)!important; 
     padding-inline-end: var(--oj-core-spacing-1x)!important; 
}

.oj-md-padding-12x-vertical {
     padding-top: var(--oj-core-spacing-1x)!important; 
    padding-bottom: var(--oj-core-spacing-1x)!important;
}



.oj-sm-margin-4x-horizontal {
    margin-inline-start: var(--oj-core-spacing-1x)!important; 
    margin-inline-end: var(--oj-core-spacing-1x)!important; 
}



 .oj-button.oj-default.oj-button-outlined-chrome .oj-button-icon, .oj-button.oj-focus-only.oj-button-outlined-chrome .oj-button-icon {
    color: white;
    
} 

 .oj-button.oj-default.oj-button-outlined-chrome .oj-button-icon, .oj-button.oj-focus-only.oj-button-outlined-chrome .oj-button-icon :hover {
    color: white;
    
} 

.oj-button-sm oj-button oj-component oj-enabled oj-button-outlined-chrome oj-button-text-icon-end oj-complete oj-selected :hover{

  color: white;

}

.oj-button.oj-selected.oj-button-outlined-chrome .oj-button-icon  {
    color: white;
}
.oj-button.oj-button:hover.oj-button-outlined-chrome .oj-button-icon  {
    color: white;
}